.images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

/* Image styling */
.image-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* Styling for the name text */
.image-item .name {
  margin: 8px 0 4px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

/* Styling for social links */
.image-item .social-link {
  font-family: 'PastaRegular', sans-serif;
  margin: 4px 0;
  text-decoration: none;
  color: #0073b1; /* Example color, change as needed */
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.image-item .social-link:hover {
  color: #005582; /* Darker shade on hover */
}